@keyframes moveRightN {
  0% {
    transform: translateX(-110%) translateY(0);
  }

  25% {
    transform: translateX(-55%) translateY(0px);
  }

  50% {
    transform: translateX(0%) translateY(0px);
  }

  75% {
    color: #05a3b8;
  }

  100% {
    color: #00bcd4;
  }
}

.row .N {
  animation-name: moveRightN;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes moveLeftB {
  0% {
    transform: translateX(110%) translateY(0);
  }

  25% {
    transform: translateX(55%) translateY(0px);
  }

  50% {
    transform: translateX(0%) translateY(0px);
  }

  75% {
    color: #05a3b8;
  }

  100% {
    color: #00bcd4;
  }
}

.row .B {
  animation-name: moveLeftB;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes moveDownS {
  0% {
    transform: translateX(0px) translateY(-110%);
  }

  25% {
    transform: translateX(0px) translateY(-55%);
  }

  50% {
    transform: translateX(0px) translateY(0%);
  }

  75% {
    color: #05a3b8;
  }

  100% {
    color: #00bcd4;
  }
}

.row .S {
  animation-name: moveDownS;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes moveUpSub {
  0% {
    transform: translateX(0px) translateY(130%);
  }

  25% {
    transform: translateX(0px) translateY(78%);
  }

  50% {
    transform: translateX(0px) translateY(52%);
  }

  75% {
    transform: translateX(0px) translateY(26%);
  }

  100% {
    transform: translateX(0px) translateY(0%);
  }
}

.row-2 .Sub {
  animation-name: moveUpSub;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes moveUpSub-2 {
  0% {
    transform: translateX(0px) translateY(-130%);
  }

  25% {
    transform: translateX(0px) translateY(-78%);
  }

  50% {
    transform: translateX(0px) translateY(-52%);
  }

  75% {
    transform: translateX(0px) translateY(-26%);
  }

  100% {
    transform: translateX(0px) translateY(0%);
  }
}

.row-2 .Sub-2 {
  animation-name: moveUpSub-2;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}
